<div class="container">
  <div class="row">
    <h2 class="p-5">レシピ一覧</h2>
    <div class="col-12 m-auto m-4">
      <table class="table small table-hover m-4">
        <thead>
            <tr>
              <th>レシピID</th>
              <th>レシピ名</th>
              <th>レシピ概要</th>
              <th>作成日時</th>
              <th></th>
            </tr>
        </thead>
        <tbody id="post">
        <% @recipes.each do |recipe| %>
          <tr>
            <td><%= recipe.id %></td>
            <td><%= recipe.name %></td>
            <td><%= recipe.introduction %></td>
            <td><%= recipe.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= link_to "レシピ詳細", admin_recipe_path(recipe) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
