<div class="container">
  <div class="card col-lg-6 col-md-10 col-sm-12 m-auto">
    <div class="card-body">
      <h2 class="my-4">ログイン</h2>
       <div class="col-10 m-auto pb-3">

         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="mb-4">
            <%= f.label :"メールアドレス", class: "control-label" %>
            <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "form-control col m-auto" %>
          </div>

          <div class="mb-4">
            <%= f.label :"パスワード", class: "control-label" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control col m-auto" %>
          </div>

          <div class="actions row">
            <%= f.submit "ログイン", class: "btn btn-primary col-6 m-auto" %>
          </div>
         <% end %>
       </div>

      <div class="col m-auto">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "新規登録", new_registration_path(resource_name), class: "center-block col-6 p-0" %><br />
          <% end %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name), class: "" %><br />
          <% end %>
      </div>
    </div>
  </div>
</div>