<div class="nested-fields d-lg-flex">
  <div class="form-group col-lg-5 col-md-5 col-sm-12">
    <%= f.label :材料名 %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group  col-lg-5 col-md-5 col-sm-12">
    <%= f.label :分量　※グラム単位で記入 %>
    <%= f.number_field :amount, class: "form-control" , step: '0.1', id:"ingredient-amount", min:"0" %>
  </div>
  <div class="form-group  col-lg-5 col-md-5 col-sm-12">
    <%= link_to_remove_association "#{icon 'fas', 'trash-alt'}".html_safe, f, class: "btn btn-danger" %>
  </div>
</div>


