<div class="nested-fields d-flex">
  <div class="form-group  col-5">
    <%= f.label :調理方法 %>
    <%= f.text_area :explanation, class: "form-control" %>
  </div>
  <div class="form-group  col-5">
    <%= f.label :調理画像 %><small class="text-mutes">*選択無しでもOK</small>
    <%= f.file_field :procedure_image, class: "form-control-file"%>
  </div>
  <div class="form-group col-2 mt-auto">
    <%= link_to_remove_association "#{icon 'fas', 'trash-alt'}".html_safe , f, class: "btn btn-danger" %>
  </div>
</div>
