
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar', genres: @genres %>
    <div class="col mt-4">
      <h2>ランキング(プレビュー数)</h2>
      <div class="row">
        <% @pv_ranks.each_with_index do |rank, i| %>
        <div class="col-5 d-flex flex-column mt-5 mb-5">
          <p><%= i + 1 %>位のレシピ</p>
          <%= link_to recipe_path(rank) do %>
            <% if @pv_ranks.first == rank %>
                <i class="fas fa-medal  gold card-img-overlay fa-2x text-left mt-2 ml-2"></i>
              <% elsif @pv_ranks.second == rank %>
                <i class="fas fa-medal silver card-img-overlay fa-2x text-left mt-2 ml-2"></i>
              <% elsif @pv_ranks.third == rank %>
                <i class="fas fa-medal blonze card-img-overlay fa-2x text-left mt-2 ml-2"></i>
            <% end %>
            <%= image_tag(rank.recipe_image.url, class: "d-block mx-auto", :size => '320x220') %>
          <% end %>
          <strong class="text-center"><%= rank.name %></strong>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

