<div class="container d-flex flex-wrap">
  <div class="col-6 mt-5">
    <%= render partial: 'layouts/flash' %>
    <div class="d-flex flex-wrap">
      <h3><strong><%= @recipe.name %></strong></h3>
        <span class="ml-2 mt-1" id="rate_avg"></span>
        <%= link_to recipe_reviews_path(@recipe), class: "ml-2 mt-2" do %>
          <p>(<%= @recipe.reviews.count %>)</p>
        <% end %>
        <% if @recipe.reviews.where(user_id: @user.id).blank? %>
          <small>※レシピの評価はまだありません</small>
        <% else %>
          <script>
            $('#rate_avg').raty({
              size: 20,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              readOnly: true,
              score: <%= @rate_avg %>,
              half: true
            });
          </script>
    　   <% end %>
    　  </div>

    <h6><%= @recipe.introduction %></h6>
    <small class="text-muted">作成日時 : <%= @recipe.created_at.to_s(:datetime_jp) %></small>
    <% if @recipe.user == current_user %>
      <%= link_to "編集する", edit_recipe_path(@recipe) %> | <%= link_to "削除する", recipe_path(@recipe), method: :delete, data:
        { confirm: "#{ @recipe.name }をあなたのレシピから削除しますか？",
          cancel: 'キャンセル',
          commit: '削除'}, title: '削除の確認'  %>
    <% end %></br>
    <div class="mt-3">
      <div class="relationship_btn">
        <strong>投稿者をフォロー</strong>
        <%= render 'public/relationships/relationship', user: @user %>
        <%= @user.name %>
      </div>
    </div>
    <div class="mt-3" id="recipe_<%= @recipe.id %>">
        <div class="bookmark_btn">
          <strong>ブックマーク</strong>
          <%= render 'public/bookmarks/bookmark', recipe: @recipe %>
        </div>
    </div>
    <div class="mt-3">
        <div class="review">
          <strong>レビューを見る</strong>

        </div>
    </div>
  </div>
  <div class="col-5 mt-5">
    <% if @recipe.recipe_image.url.blank? %>
      <%= image_tag("m_e_others_500.png", size: '560x373') %>
    <% else %>
      <%= image_tag(@recipe.recipe_image.url, size: '560x373') %>
    <% end %>
  </div>
  <div class="col-10 m-auto">
    <div class="border rounded p-4 mt-5 mb-5">
      <div class="d-flex">
        <h5 class="mr-3"><%= @recipe.serving %>人分の分量</h5>
        <%= form_with model: @recipe, url: recipe_path, method: :patch, local: true do |f| %>
          <%= f.select :serving, options_for_select(1..30) %>
          <% @recipe.ingredients.each do |ingredient| %>
            <%= f.hidden_field :per_amount, :value => ingredient.per_amount %>
          <% end %>
          <%= f.label :人分へ %>
          <%= f.submit "変換する" %>
        <% end %>
      </div>
      <table class="table small">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">材料</th>
            <th scope="col">分量</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.ingredients.each_with_index do |ingredient, i| %>
          <tr>
            <th scope="row"><%= i + 1 %>.</th>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.amount.floor(2) %>g</td>
          </tr>
          <% end %>
        </tbody>
      </table>
     </div>
    </div>
    <div class="col-10 d-flex m-auto border-top">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 10%"></th>
            <th scope="col" style="width: 40%"></th>
            <th scope="col" style="width: 50%"></th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.procedures.each_with_index do |procedure, i| %>
          <tr>
            <th scope="row"><%= i + 1 %>.</th>
            <td><%= procedure.explanation %></td>
            <% if procedure.procedure_image.url.blank? %>
            <td><%= image_tag "m_e_others_500.png", :size => '270x180' %></td>
            <% else %>
            <td><%= image_tag procedure.procedure_image.url, :size => '270x180' %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6 m-auto pt-5">
      <% if current_user %>
        <% if @recipe.reviews.where(user_id: current_user.id).blank? %>
          <strong>レビューを書く</strong>
          <%= form_with(model:[@recipe, @review], url: recipe_reviews_path(recipe_id: @recipe.id), method: :post, local: true) do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "mt-2 form-control" %></br>
            </div>
            <div class="form-group">
              <%= f.label :body %>
              <%= f.text_area :body, class: "mt-2 form-control" %></br>
            </div>
            <div class="form-group" id="star">
              <% f.label :evaluation %>
              <%= f.hidden_field :evaluation, id: :review_star, class:'form-control' %>
            </div>
            <%= f.submit "送信する", class:"btn btn-success mt-3" %>
          <% end %>
        <% else %>
          <strong class="m-5">レビューをいただきありがとうございました！</strong>
        <% end %>
      <% end %>
    </div>
  </div>

<script>
  $('#star').raty({
    size     : 24,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'review[evaluation]',
    half: true,
  });
</script>

