<div class="container mb-4">
  <div class="card col-6 m-auto">
    <div class="card-body">
      <h2>新規登録</h2>
      <div class="col-10 m-auto pb-3">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
          <%= render "public/users/shared/error_messages", resource: resource %>
  
          <div class="mb-4">
            <%= f.label :"名前" %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control col m-auto"%>
          </div>
  
          <div class="mb-4">
            <%= f.label :"メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col m-auto" %>
          </div>
  
          <div class="mb-4">
            <%= f.label :"パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>字以上(英数半))</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control col m-auto" %>
          </div>
  
          <div class="mb-4">
            <%= f.label :"パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col m-auto" %>
          </div>
  
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-primary col-6 m-auto"%>
          </div>
        <% end %>
        <%= render "public/users/shared/links" %>
      </div>
    </div>
  </div>
</div>
