

<div class="field">
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :ジャンル画像 %>
  <%= f.file_field :genre_image %>
   <%= f.submit "新規作成", class: "btn btn-success btn-block col-2" %>
</div>