<div class="container">
  <div class="row">
    <div class="col-10 m-auto m-4 d-flex flex-wrap p-5 text-center">
      <h2 class="col-6 mb-5"><%= link_to "お問い合わせ一覧", admin_contacts_path, class: "text-dark"  %></h2>
      <h2 class="col-6 mb-5"><%= link_to "レシピ一覧", admin_recipes_path, class: "text-dark" %></h2>
      <h2 class="col-6 mb-5"><%= link_to "会員一覧", admin_users_path, class: "text-dark" %></h2>
      <h2 class="col-6 mb-5"><%= link_to "ジャンル一覧", admin_genres_path, class: "text-dark" %></h2>
      <h2 class="col-12 mt-5"><%= link_to "ログイン ➡︎", new_admin_session_path, class: "text-dark" %></h2>
    </div>
  </div>
</div>