
<div class="container">
  <div class="card col-6 m-auto">
    <div class="card-body">
      <h2 class="my-4">管理者ログイン</h2>
       <div class="col-10 m-auto pb-3">

         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="mb-4">
            <%= f.label :"メールアドレス", class: "control-label" %>
            <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "form-control col m-auto" %>
          </div>

          <div class="mb-4">
            <%= f.label :"パスワード", class: "control-label" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control col m-auto" %>
          </div>

          <div class="actions row">
            <%= f.submit "ログイン", class: "btn btn-primary col-6 m-auto" %>
          </div>
         <% end %>
       </div>
    </div>
  </div>
</div>