<div class="container">
  <h3 class="pt-5"><%= @recipe.name %>のレビュー: 平均 <%= @rate_avg.round(2) %>点</h3>
  <table class="table small table-hover mt-5">
    <thead>
      <tr>
        <th style="width: 10%">投稿者名</th>
        <th style="width: 20%">投稿日</th>
        <th style="width: 15%">評価</th>
        <th style="width: 15%">タイトル</th>
        <th style="width: 40%">レビュー本文</th>
      </tr>
    </thead>
    <tbody>
        <% @recipe.reviews.each do |review| %>
        <tr>
          <td><%= review.user.name %></td>
          <td><%= review.created_at.to_s(:datetime_jp) %></td>
          <td id="rate_<%= review.id %>"></td>
           <script>
                $('#rate_<%= review.id %>').raty({
                  size: 5,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  readOnly: true,
                  score: <%= review.evaluation %>,
                  half: true,
                });
              </script>
          <td><%= review.title %></td>
          <td><%= review.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>