    <header>
      <nav class="navbar navbar-expand-lg navbar-light p-4">
        <% if user_signed_in? %>
          <%= link_to root_path do %>
            <%= image_tag "2656826.jpg", size: "100x70", class: "d-none d-sm-block mr-3" %>
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to admin_root_path do %>
            <%= image_tag '2656826.jpg', size: '100x70', class: "d-none d-sm-block mr-3"%>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag '2656826.jpg', size: '100x70', class: "d-none d-sm-block mr-3"%>
          <% end %>
        <% end %>
        <div class="flex-column">
          <h1 class="">三鷹</h1>
          <small class="ml-2">自分だけのオリジナルらーめんを作ろう ！</small>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item mr-3">
              <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-field") do |f| %>
                <%= f.text_field :keyword, placeholder: "レシピを検索する", class: "form-control" %>
                <%= button_tag type: 'submit', class: 'btn search-icon' do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', my_page_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'レシピを投稿する', new_recipe_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item mr-3">
              <%= form_with(url: admin_admin_searches_path, local: true, method: :get, class: "search-field d-flex") do |f| %>
                <%= f.select :model, options_for_select({"会員" => "user", "レシピ" => "recipe"}) %>
                  <%= f.text_field :content, placeholder: "検索", class: "form-control" %>
                  <%= button_tag type: 'submit', class: 'btn search-icon' do %>
                    <i class="fas fa-search"></i>
                  <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'お問い合わせ一覧', admin_contacts_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'レシピ一覧',  admin_recipes_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
          <% else %>
            <li class="nav-item mr-3">
              <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-field") do |f| %>
                <%= f.text_field :keyword, placeholder: "レシピを検索する", class: "form-control" %>
                <%= button_tag type: 'submit', class: 'btn search-icon' do %>
                  <i class="fas fa-search"></i>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
 </header>