<div class="col-2 d-flex flex-column m-5">
  <ul class="list-unstyled pt-5 border-top" id="global_nav">
    <li class="active mb-5"><strong>ジャンル別検索</strong></li>
      <% genres.each do |genre| %>
        <li class="active mb-5">
          <%= link_to recipe_genres_recipe_path(genre.id), class: "text-decoration-none text-dark" do %>
            <%= genre.name %>
          <% end %>
        </li>
    <% end %>
    <li class="active mb-5 pt-5 border-top"><strong>全体ランキング検索</strong></li>
    <li class="active mb-5"><%= link_to "ブックマーク数", ranking_recipes_path, class: "text-decoration-none text-dark" %></li>
    <li class="active mb-5"><%= link_to "プレビュー数", pv_ranking_recipes_path, class: "text-decoration-none text-dark" %></li>
    <li class="active mb-5 pt-5 border-top"><strong>ジャンル別ランキング検索</strong></li>
      <% @genres.each do |genre| %>
      <li class="active mb-5">
        <%= link_to  genre_ranking_recipes_path(genre_id: genre.id), class: "text-decoration-none text-dark" do %>
          <% genre.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
