
<!DOCTYPE html>
<html>
  <head>
    <title>まいらーめん</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500;600;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag   'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render 'layouts/header' %>
      <main class="mb-auto">
        <p class="notice col-6 m-auto text-success"><%= notice %></p>
        <p class="alert col-6 m-auto text-danger"><%= alert %></p>
        <%= link_to "←トップページへ", root_path, class: "p-4 d-block d-sm-none text-dark" %>
        <%= yield %>
    　</main>
    <%= render 'layouts/footer' %>
  </body>
</html>
